.blog-list {
  display: grid;
  grid-gap: 3vmax;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 1024px) {
  .blog-list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .blog-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
