.about {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 2vmax;

  &__subtitle {
    color: var(--text-blue);
    font-size: 3.1vmin;
    line-height: 3.6vmin;
    text-align: center;
  }

  &__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 1rem;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 1vmax;
    max-width: 80%;
    margin: 0 auto;

    > h3 {
      color: var(--text-blue);
      font-size: 2.2vmin;
      text-align: center;
    }

    >p {
      font-size: 2vmin;
      text-align: center;
    }
  }

  &__item {
    flex: 0 0 25%;
    max-width: 25%;
    min-height: 17vmax;
    padding: 0 1.5vmin;

    &-iner {
      height: 100%;
      padding: 1rem;
      text-align: center;
      background-color: var(--bg-blue-100);
      border: 3px solid var(--text-blue);
      border-radius: 0.83rem;
      transition: all 0.3s ease;

      &:hover {
        box-shadow: 0 0 20px rgb(48 46 77 / 15%);

        & .about__icon {
          background-color: var(--text-blue);

          > svg {
            color: #fff;
          }
        }
      }

      > h4 {
        margin-bottom: 1rem;
        color: var(--text-blue);
        font-weight: 700;
        font-size: 2.2vmin;
        text-transform: capitalize;
      }

      >p {
        color: var(--text-blue);
      }
    }
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5vmax;
    height: 5vmax;
    margin: 0 auto 1rem;
    background-color: #fff;
    border-radius: 50%;
    transition: all 0.3s ease;

    & > svg {
      color: var(--text-blue);
      font-size: 2.5vmax;
      transition: all 0.3s ease;
    }
  }

  &__shape {
    position: absolute;
    top: -2%;
    right: 30%;
    z-index: -1;
    width: 20vmax;
    height: 20vmax;
    background-color: var(--bg-bisque-100);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    &__subtitle {
      font-size: 18px;
      line-height: 1.5;
    }

    &__row {
      flex-direction: column;
      gap: 2vmax;
      align-items: center;
    }

    &__content {
      gap: 1rem;
      max-width: 90%;

      > h3 {
        font-size: 18px;
      }

      > p {
        font-size: 14px;
        text-align: initial;
      }
    }

    &__item {
      flex: 1;
      max-width: 80vmin;

      &-iner {
        padding: 0.8rem;

        > h4 {
          font-size: 18px;
          line-height: 1.5;
        }

        > p {
          font-weight: normal;
          text-align: justify;
        }
      }
    }

    &__icon {
      margin-bottom: 1rem;
    }
  }
}

@media only screen and (max-width: 768px) {
  .about {
    &__content {
      max-width: 100%;

      >p {
        text-align: justify;
      }
    }

    &__item {
      max-width: 90%;
    }
  }
}
