.collection {
  display: flex;
  justify-content: space-between;

  &__content {
    flex: 1;
  }

  &__description {
    width: 100%;
    max-width: 635px;
    padding: 79px 0 83px 36px;
  }

  &__text {
    color: var(--text-black);
    font-weight: 100;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 1.196px;

    & + & {
      margin-top: 33px;
    }
  }

  &__scene {
    width: 100%;
    max-width: 897px;
    padding-right: 30px;
    background: var(--bg-blue-50);

    &-wrap {
      position: relative;
      display: block;
      height: 1087px;
      margin-top: -6px;
      overflow: hidden;
      background: var(--bg-blue-100);
      background: url('../../images/scene-light.png') no-repeat;
      background-size: cover;
      border-radius: 18px;
      box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
      transition: background 0.3s ease-in-out;

      &.dark {
        background: url('../../images/scene-dark.png') no-repeat;
        background-size: cover;
      }

      > img {
        display: none;
      }
    }
  }

  &__lamp {
    position: absolute;
    top: 0;
    left: 211px;
    display: flex;
    width: 216px;
    height: 360px;

    & > img {
      opacity: 0;
    }

    &-2 {
      top: -120px;
      left: 199px;
      transform: scale(0.87);
    }

    &-4 {
      left: 118px;
    }
  }
}

@media only screen and (max-width: 1599px) {
  .collection {
    &__description {
      max-width: fit-content;
      padding: 60px 30px 40px;
    }

    &__scene {
      z-index: 1;
      max-width: 697px;

      &-wrap {
        height: 900px;
      }
    }

    &__text {
      & + & {
        margin-top: 20px;
      }
    }

    &__lamp {
      top: -51px;
      left: 144px;
      transform: scale(0.74);

      &-2 {
        top: -134px;
      }
    }
  }
}

@media only screen and (max-width: 1440px) {
  .collection {
    overflow-x: hidden;

    &__text {
      font-size: 22px;
      line-height: 30px;
    }
  }
}

@media only screen and (max-width: 1280px) {
  .collection {
    flex-direction: column;
    gap: 29px;

    &__content {
      display: flex;
    }

    &__description {
      padding: 60px 0 0 30px;
    }

    &__text {
      font-size: 18px;
      line-height: 24px;
    }

    &__lamp {
      top: -70px;
      left: 109px;
      transform: scale(0.65);

      &-2 {
        top: -142px;
      }
    }

    &__scene {
      max-width: 650px;
      margin: 0 auto;
      padding: 0 0 0 30px;
      border-radius: 18px;

      &-wrap {
        height: 680px;
      }
    }
  }
}

@media only screen and (max-width: 820px) {
  .collection {
    &__content {
      flex-direction: column-reverse;
    }

    &__description {
      margin-top: 70px;
      padding: 60px  30px 0;
    }

    &__scene {
      padding: 0 30px;
    }

    &__lamp {
      top: -70px;
      left: 102px;
      transform: scale(0.65);

      &-2 {
        top: -149px;
      }
    }
  }
}

@media only screen and (max-width: 596px) {
  .collection {
    &__lamp {
      top: -107px;
      left: 24px;
      transform: scale(0.4);

      &-2 {
        top: -161px;
      }
    }

    &__scene {
      max-width: 418px;

      &-wrap {
        height: 450px;
      }
    }
  }
}
