.collection {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: calc(100vh - 2*1.875vmax - 4.3vh);

  &__content {
    flex: 1 1 44%;
  }

  &__description {
    max-width: 90%;
    margin: 3.4rem 0;
    padding-left: 0.375vw;
  }

  &__text {
    color: var(--text-black);
    font-weight: 100;

    & + & {
      margin-top: 1.4rem;
    }
  }

  &__scene {
    position: relative;
    z-index: 1;
    display: flex;
    flex: 1 1 56%;
    transition: background 0.3s ease-in-out;

    &_horizontal {
      display: block;
      height: fit-content;
    }
  }

  &__img {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    object-position: left;
    border-radius: 0.83rem;
    box-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  }

  &__lamp-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }

  &__lamp {
    position: absolute;
    max-width: 12vw;
    height: auto;
    max-height: 28%;
    object-fit: contain;

    &-2 {
      top: -8.4%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .collection {
    flex-direction: column-reverse;
    height: auto;

    &__scene {
      width: 70%;
      margin: 0 auto;
    }

    &__lamp {
      max-width: 12vw;

      &-2 {
        top: -9.4%;
      }
    }

    &__description {
      max-width: fit-content;
      margin: 2rem 0;
      text-align: center;
    }

    &__list {
      max-width: max-content;
    }
  }
}

@media only screen and (max-width: 520px) {
  .collection {
    &__description {
      text-align: justify;
    }
  }
}
