.contacts {
  display: flex;
  flex-direction: column;
  gap: 2vmax;
  overflow: hidden;

  &__subtitle {
    color: var(--text-blue);
    font-size: 3.1vmin;
    line-height: 3.6vmin;
    text-align: center;
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    gap: 1vmax;
    justify-content: center;
    margin-bottom: 2rem;

    &-item {
      flex: 1 1 24%;
      width: max-content;
      text-align: center;

      > h4 {
        margin: 0.2rem 0 0;
        color: var(--text-light-blue);
        font-weight: 700;
        font-size: 2.2vmin;
        text-transform: capitalize;
      }

      > p {
        color: var(--text-blue);
        font-weight: 400;
        white-space: nowrap;

        > a {
          color: var(--text-blue);
        }
      }
    }
  }

  &__icon {
    > svg {
      font-size: 2.8vmin;
      fill: var(--text-blue);
    }
  }

  &__row {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    gap: 2vmax;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding: 1rem;
    overflow: hidden;
    background-color: var(--bg-blue-100);
    border-radius: 0.83rem;

    &::before,
    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      width: 1rem;
      background-color: var(--bg-blue-100);
      border-radius: 0.83rem;
      content: '';
    }

    &::after {
      right: 0;
      left: initial;
    }
  }

  &__map {
    flex: 1 1 45%;
    width: 100%;
    height: 40vmin;
    object-fit: cover;
    background-color: transparent;
    border: none;
    border-radius: 0.63rem;
  }

  &__form {
    display: flex;
    flex: 1 1 45%;
    flex-direction: column;
    gap: 2vmax;
    align-items: center;

    > h3 {
      color: var(--text-blue);
      font-size: 3.1vmin;
      line-height: 3.6vmin;
      text-align: center;
      text-transform: uppercase;
    }

    > input {
      padding: 1vmax;
      color: #fff;
      font-size: 2.2vmin;
      text-transform: uppercase;
      background-color: var(--text-blue);
      border: none;
      border-radius: 0.63rem;
      outline: none;
      cursor: pointer;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      &:hover {
        opacity: 0.8;
      }
    }
  }

  &__input-box {
    display: flex;
    align-items: center;
    width: 100%;
    padding-left: 2vmax;
    font-size: 2.2vmin;
    background: var(--bg-blue-50);
    border: 2px solid var(--text-blue);
    border-radius: 0.63rem;

    > svg {
      font-size: 2.8vmin;
      fill: var(--text-blue);
    }

    > input {
      width: 100%;
      padding: 2vmin;
      color: var(--text-blue);
      font-size: 2.2vmin;
      text-transform: none;
      background: transparent;
      border: none;
      outline: none;
    }
  }

  &__shape {
    position: absolute;
    top: -2%;
    right: 30%;
    z-index: -1;
    width: 20vmax;
    height: 20vmax;
    background-color: var(--bg-bisque-100);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .contacts {
    &__subtitle {
      font-size: 16px;
    }

    &__info {
      margin-bottom: 1rem;

      &-item {
        > h4 {
          margin: 0;
          font-size: 14px;
        }

        >p {
          font-size: 12px;
        }
      }
    }

    &__icon {
      > svg {
        font-size: 14px;
      }
    }

    &__form {
      > h3 {
        font-size: 16px;
      }

      > input {
        font-size: 12px;
      }
    }

    &__input-box {
      font-size: 14px;

      > input {
        font-size: 14px;
      }
    }
  }
}

@media only screen and (max-width: 520px) {
  .contacts {
    &__row {
      width: 100%;
    }

    &__map {
      height: 50vmin;
    }
  }
}
