.blog {
  display: flex;
  flex-direction: column;
  gap: 2vmax;

  &__subtitle {
    color: var(--text-blue);
    font-size: 3.1vmin;
    line-height: 3.6vmin;
    text-align: center;
  }

  &__search {
    margin-bottom: 2vmax;
  }

  &__shape {
    position: absolute;
    top: 10%;
    right: 35%;
    z-index: -1;
    width: 20vmax;
    height: 20vmax;
    background-color: var(--bg-bisque-100);
    border-radius: 50%;
  }
}

@media only screen and (max-width: 768px) {
  .blog {
    &__subtitle {
      font-size: 18px;
      line-height: 1.5;
    }
  }
}
