.heading {
  margin: 1vmax 0 0;
  color: var(--text-blue);
  font-weight: bold;
  font-size: 4vmin;
  text-align: center;
  text-transform: uppercase;

  > span {
    color: white;
  }
}

@media only screen and (max-width: 768px) {
  .heading {
    font-size: 20px;
  }
}
